---
import type {CollectionEntry} from "astro:content";
interface Props {
	entry: CollectionEntry<"blog">;
}

import MainLayout from "./MainLayout.astro";
import LatestContent from "../components/LatestContent.astro";

const {entry} = Astro.props;
const {data} = entry;
const {title, publishDate, updateDate} = data;
const {Content} = await entry.render();
---

<MainLayout title={title + " — Slava Zakharov"}>
	<div class="hero | flow | inner-wrapper">
		<h1><mark>{title}</mark></h1>
		<p class="update"
			><strong>Published:</strong>
			<span class="text-narrow"
				>{
					publishDate.toLocaleDateString("en-GB", {
						year: "numeric",
						month: "long",
						day: "numeric",
					})
				}</span
			></p
		>
	</div>
	<div class="article__content | flow | inner-wrapper">
		<Content />
	</div>
	<div class="footnotes | inner-wrapper">
		<p class="update"
			><strong>Updated:</strong>
			<span class="text-narrow"
				>{
					updateDate.toLocaleDateString("en-GB", {
						year: "numeric",
						month: "long",
						day: "numeric",
					})
				}</span
			></p
		>
	</div>

	<section class="recomended | flow | inner-wrapper">
		<header>
			<h2 class="recomended__caption">Other writing</h2>
		</header>
		<LatestContent collectionName="blog" count={3} exclude={entry} />
		<footer class="text-mid">
			<a href="/blog">All writting →</a>
		</footer>
	</section>
</MainLayout>

<style>
	.hero {
		--gutter: var(--space-l);
		background-color: var(--clr-primary);
		margin-block-start: var(--gutter);
		padding-block: var(--gutter);

		> * {
			--flow-space: var(--space-2xl);
		}
	}

	h1 {
		font-size: var(--size-step-5);
		font-size-adjust: from-font;
		letter-spacing: -0.015em;
	}

	mark {
		--mark-bg: linear-gradient(
			0deg,
			transparent 20%,
			rgba(var(--clr-light-rgb), 1) 20%,
			rgba(var(--clr-light-rgb), 1) 84%,
			transparent 84%
		);

		background: var(--mark-bg, --clr-global-bg);
	}

	.article__content {
		padding-block: var(--space-xl);
	}

	.footnotes {
		padding-block: var(--gutter);
		border-block: var(--stroke);
	}

	.recomended {
		--record-title-size: var(--size-step-0);
		--list-padding: var(--space-s);

		padding-block: var(--gutter);
	}

	.recomended__caption {
		font-size: var(--size-step-0);
	}

	.recomended {
		--flow-space: var(--space-xs);

		.flow > * {
			--flow-space: var(--space-2xs);
		}
	}
</style>
